.nav-color{
    background-color:green;
}
.card-main{
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
}
#miJumbo{
    background-color: blue;
    background-repeat: no repeat;
    background-size:cover;
    color:white;
    text-align:center;
    margin-top:40px;
}
#estiloBtn{
    margin:20px 5px 20px 5px;
    padding:20px 5px 20px 5px;
}
.etiquetaCard{
    text-align:center;
}
.iconoRes{
    font-size:50px;
    color:green;
    align-content:center;
    
}
.card-miWeb{
    background-color:yellowgreen;
    width:auto;
    height:400px;
    text-align-last:justify;
    word-wrap:break-word;
}

.card-prin{
    padding:20px 20px 20px 20px;
    background-color:lightgrey;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    width:450px;
    
}

.card-serv{
    flex: 150px;
    padding:2px 2px 2px 2px;
    height:290px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
}

footer{
    padding:10px 10px 0 10px;
    background-color:lightgrey;
    margin-top:20px;
}
