.nav-color {
  background-color: #7CEF22; }

.card-main {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px; }

#miJumbo {
  background: url("img/code.jpg");
  background-color: #E8E658;
  background-repeat: no repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-button: 0px;
  margin-left: 0px;
  margin-right: 0px; }

#migasPan {
  background-color: #E88F58; }

#estiloBtn {
  margin-top: 20px;
  margin-button: 5px;
  margin-left: 20px;
  margin-right: 5px;
  /*margin: 20px 5px 20px 5px;*/
  padding: 20px 5px 20px 5px; }

.etiquetaCard {
  text-align: center; }

.iconoRes {
  font-size: 50px;
  color: #7CEF22;
  align-content: center; }

.card-miWeb {
  background-color: #E8E658;
  width: 100%;
  height: 400px;
  text-align-last: justify;
  word-wrap: break-word; }

.card-prin {
  padding: 20px 20px 20px 20px;
  background-color: #E88F58;
  margin-top: 20px;
  margin-button: 0px;
  margin-left: 20px;
  margin-right: 20px;
  /*margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 450px;*/ }

.card-serv {
  flex: 150px;
  padding: 2px 2px 2px 2px;
  height: 290px;
  margin-top: 10px;
  margin-button: 0px;
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px*/ }

footer {
  padding: 10px 10px 0 10px;
  background-color: #E8E658;
  margin-top: 20px;
  margin-button: 0px;
  margin-left: 0px;
  margin-right: 0px;
  /*margin-top: 20px;*/ }
