$yellow: #E8E658;
$red: #E88F58;
$green: #7CEF22;

@mixin margenes($top, $button, $left, $right){
    margin-top: $top;
    margin-button: $button;
    margin-left: $left;
    margin-right: $right;    
}
//estilo por componente
.nav-color{
    background-color: $green;
}
.card-main{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
#miJumbo{
    background: url("img/code.jpg");
    background-color: $yellow;
    background-repeat: no repeat;
    background-size: cover;
    color: white;
    text-align: center;
    @include margenes(40px, 0px, 0px, 0px);
}
#migasPan{
    background-color: $red;
}

#estiloBtn{
    @include margenes(20px, 5px, 20px, 5px);
    /*margin: 20px 5px 20px 5px;*/
    padding: 20px 5px 20px 5px;
}
.etiquetaCard{
    text-align: center;
}
.iconoRes{
    font-size: 50px;
    color: $green;
    align-content: center;
    
}
.card-miWeb{
    background-color: $yellow;
    width: 100%;
    height: 400px;
    text-align-last: justify;
    word-wrap: break-word;
}

.card-prin{
    padding: 20px 20px 20px 20px;
    background-color: $red;
    @include margenes(20px, 0px, 20px, 20px);
    /*margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 450px;*/
    
}

.card-serv{
    flex: 150px;
    padding: 2px 2px 2px 2px;
    height: 290px;
    @include margenes(10px, 0px, 20px, 20px);
    /*margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px*/
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(20px, 0px, 0px, 0px);
    /*margin-top: 20px;*/
}
